<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="toc">
      <div class="toc-lee">
      {% for path in site.data.toc.lee %}
        {% assign entry = site.pages | where: 'id', path | first %}
        <a href="{{ entry.url }}">{{ entry.title }}</a>
      {% endfor %}
      </div>

      <div class="toc-tekken">
      {% for path in site.data.toc.tekken %}
        {% assign entry = site.pages | where: 'id', path | first %}
        <a href="{{ entry.url }}">{{ entry.title }}</a>
      {% endfor %}
      </div>
    </nav>

{{ content }}
  </body>
</html>
